body {
    background: url(/Images/Background.JPG) no-repeat;
    background-size: cover;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Padauk', sans-serif;
}

.offering-link {
    text-decoration: none;
    color: black;
}

.offering-link:hover {
    text-decoration: none;
    color: black;
}

/** BEGIN NAVBAR **/

#logo {
    font-size: 2.5rem;
    text-shadow: 2px 0 0 #fbbfe3, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    color: black;
    font-weight: bold;
    width: 200px;
    padding-top: 5px;
}

.navbar {
    font-family: 'Dancing Script', cursive;
    font-size: 1.7rem;
}

#nav, .navbar {
    background-image: url(/Images/sprinkles.png) no-repeat;
    background-size: cover;
    padding-top: 0;
}

.nav-item .nav-link {
    text-decoration: none;
    text-shadow: 2px 0 0 #fbbfe3, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    color: black;
}

.nav-link:hover {
    background-color: white;
}

/**END NAVBAR**/

/** BEGIN BODY **/

.container-fluid {
    padding: 0;
}

.h1 {
    background: #fbbfe3;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: 3px dashed white;
    margin-top: 40px;
}

h1 {
    color: black;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 5.5rem;
}

.ice-cream {
    
}

.ice-cream img {
    margin-right: auto;
    margin-left: auto;
}

.main-img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-img img {
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.main-img-bg {
    color: #fbbfe3;
}

.motto {
    margin-top: 50px;
}

.motto-background {
    background-color: white;
    border-radius: 10px;
    height: 200px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: 3px dashed #fbbfe3;
}

.motto-text {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
}

.offerings {
    margin-top: 60px;
}

.offering1, .offering2 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5rem;
    color: black;
    margin-bottom: 20px;
    background: #fbbfe3;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: 3px dashed white;
    margin-top: 40px;
}

.offering1-bg h3, .offering2-bg h3 {
    margin-right: auto;
    margin-left: auto;
    font-size: 2.5rem;
}

.offering1-bg p, .offering2-bg p {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.3rem;
}

.offering1-bg p:hover, .offering2-bg p:hover {
    font-size: 1.5rem;
}

.offering1-bg, .offering2-bg {
    background-color: white;
    border-radius: 10px;
    width: 90%;
    height: 280px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: 3px dashed #fbbfe3;
    margin-left: auto;
    margin-right: auto;
}

.offering1-bg:hover, .offering2-bg:hover {
    width: 100%;
}



/** END BODY **/

/** START FOOTER **/
footer {
    font-size: 1.5rem;
}

.icons {
    font-size: 3rem;
    text-decoration: none;
}

.social {
    color: white;
}

.social:hover {
    color: black;
}
/** END FOOTER **/

/** Extra Small (575px and below) **/
@media (max-width: 575px) {
    footer {
        font-size: 1.1rem;
    }
    
    h1 {
        font-size: 3rem;
    }

    .icons {
        font-size: 2rem;
    }

    .ice-cream img {
        width: 10%;
    }

    .icecream-separator {
        padding-top: 40px;
    }

    #logo {
        width: 40%;
    }

    .motto-div {
        margin-right: auto;
        margin-left: auto;
    }

    .motto-text {
        font-size: 2rem;
    }

    .motto-background {
        height: 150px;
        margin-right: auto;
        margin-left: auto;
    }

    .offering2 {
        margin-top: 20px;
    }

    .offering1, .offering2 {
        font-size: 2.5rem;
    }

    .offering1-bg h3, .offering2-bg h3 {
        font-size: 1.5rem;
    }

    .offering1-bg p, .offering2-bg p {
        font-size: 1.1rem;
    }
}

/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) and (max-width: 767px) { 
    h1 {
        font-size: 3.5rem;
    }

    .motto-text {
        font-size: 2.5rem;
    }

    .motto-background {
        margin-right: auto;
        margin-left: auto;
    }
    .offering2 {
        margin-top: 20px;
    }
 }

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) and (max-width: 991px) {
    .offering2 {
        margin-top: 20px;
    }
    
 }

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) and (max-width: 1199px) {
    
 }

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) { ... }



}